@inherits Blazor.Diagnostics.Components.LoggingComponent
<div style="border:1px dashed #bbb; padding:12px; margin-top:12px;">
    <h6>CounterDisplayWrapper</h6>

    <CounterDisplay Value="@Value" />
</div>