@page "/"
@using _02.Components.Composition.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h3>Blazor Component Composition</h3>

<CounterPanel 
    @rendermode="InteractiveServer"
    Value="@currentCount" 
    OnIncrement="@IncrementCount" 
    OnReset="@ResetCount" />