@page "/"
@using _06.StateManagement.StoreReducer.Components.Features.Counter

<PageTitle>State Management - StoreReducer</PageTitle>

<h3>App 06 — State Management - StoreReducer</h3>

<CounterHost />