@page "/"

<PageTitle>Home</PageTitle>

<p><a href="/definition">StateManagement.Effects /definition</a></p>
<p><a href="/separation">StateManagement.Effects /separation</a></p>
<p><a href="/shapes-request-response">StateManagement.Effects /shapes-request-response</a></p>
<p><a href="/shapes-fire-and-forget">StateManagement.Effects /shapes-fire-and-forget</a></p>
<p><a href="/chaining-sync">StateManagement.Effects /chaining-sync</a></p>
<p><a href="/chaining-async">StateManagement.Effects /chaining-async</a></p>