@page "/"

<PageTitle>Home</PageTitle>

<p><a href="/phases">Go to Lifecycle.Phases</a></p>
<p><a href="/initialization">Go to Lifecycle.Initialization</a></p>
<p><a href="/rendering">Go to Lifecycle.Rendering</a></p>
<p><a href="/after-render">Go to Lifecycle.AfterRender</a></p>
<p><a href="/updates">Go to Lifecycle.Updates</a></p>
<p><a href="/disposal">Go to Lifecycle.Disposal</a></p>
<p><a href="/pitfalls">Go to Lifecycle.Pitfalls</a></p>