@page "/"
@using _05.StateManagement.StateContainer.Components.Features.Counter

<PageTitle>State Management - StateContainer</PageTitle>

<h3>App 05 — State Management - StateContainer</h3>

<CounterHost />